doctype html
html
  head
    title Tempus Pokemon
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      h2 Pokemon Battle

    .content
      block content

    block scripts
      script(src="/dist/App.bundle.js")
